
.container {
    background-color: var(--color3);
    position: sticky;
    top: 0;
    z-index: 99;
  }
  
  .first-nav {
    display: flex;
    justify-content: space-between;
    background-color: var(--color2);
    padding: 4px;
    align-items: center;
    color: var(--color6);
  }
  
  .bahasa-faq {
    display: flex;
    gap: 29px;
  }
  .bahasa-faq a {
    color: var(--color6);
  }
  
  .contact1 a{
    color: var(--color6);
  }
  
  
  
  /* navbar 2 */
  .second-nav {
    background-color: var(--color3);
    box-shadow: 1px 5px 5px rgba(0, 0, 0, 0.605);
  
  }
  .navbar {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-right: 23em;
  }
  
  .navigation {
    display: flex;
    color: rgb(28, 27, 27);
    z-index: 1;
  }
  
  
  .navigation .hove {
    position: relative;
    padding: 19px;
  }
  
  .active {
    color: var(--color2);
  }
  
  .hove::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 3px;
    border-radius: 25px 0px 25px 0px;
    background-color: var(--color2);
    transform: scaleX(0);
    transition: transform .3s ease;
  }
  
  .hove:hover {
    color:  var(--color2);
  }
  
  .hove:hover::after {
    transform: scaleX(1);
  }
  
  .active {
    color: var(--color2);
    font-weight: bold;
  }
  
  .active::after {
    transform: scaleX(1);
  }
  
  
  /*  */
  
  .main {
    position: relative;
    background-color: var(--color3);
    height: 100vh;
    display: flex;
    align-items: center;
    overflow: hidden;
  }
  
  .obat {
    position: absolute;
    width: 25em;
    height: 27em;
    background-color: var(--color2);
    right: 0;
    top: 10%;
    animation: masuk 3s normal;
    
  }
  
  @keyframes masuk {
    0% {
      transform: translateX(100%);
      opacity: 0;
    }
    80% {
      transform: translateX(0);
      opacity: 1;
    }
  
  }
  
  .obat2 {
    position: absolute;
    width: 25em;
    height: 27em;
    background-color: var(--color1);
    right: 0;
    top: 10%;
    transform: translateX(-100%);
    border-radius: 18em 13px 13px 18em;
    animation: masuk2 1s normal ease-in-out;
  }
  
  @keyframes masuk2 {
    0%{
      transform: translateX(50%);
      opacity: 0;
  
    }
    10%{
      transform: translateX(0);
    }
  
    100% {
      opacity: 1;
    }
  
  }
  
  .kotak {
    position: absolute;
    width: 5em;
    height: 25em;
    background-color: var(--color2);
    top: 10%;
    border-radius: 0px 80px 80px 0px;
    animation: muncul 1s normal ease-in;
  }
  
  @keyframes muncul {
    0% {
      transform: translateX(-100%);
    }
  
    100% {
      transform: translateX(0);
    }
  }
  
  .header-1 {
    position: relative;
    left: 130px;
    top: -110px;
    text-align: left;
    
  }
  
  .head-1 {
    font-size: 30px;
    color: #F4B860;
  
  }
  
  .head-2 {
    position: relative;
    max-width: 3000px;
    font-size: 30px;
  }
  
  .highlight-text {
    color: #2AB9A3;
    font-size: 30px;
  }
  
  .lorem {
    max-width: 600px;
    font-size: 16px;
    color: #000;
    line-height: 1.5;
  }
  
  .button {
    display: flex;
    background-color: var(--color5);
    margin-top: 16px;
    border-radius: 10px 23px 23px 10px;
    width: 30%;
    height: 40px;
    align-items: center;
    justify-content: center;
    transition: all 0.5s ease-in-out;
  }
  
  
  .button:hover {
    background-color: var(--color4);
    transition: all 0.9s ease-in-out;
  
  }
  
  .arrow {
    position: relative;
    left: 25px;
    background-color: var(--color7);
    border-radius: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 18%;
    padding: 5px;
  }
  
  .button span {
    font-weight: 700;
  }
  
  
  .Logo-kementrian{
    position: relative;
    color: var(--color2);
    top: 14em;
    left: -30px;
  }
  
  .logo-kemen{
  display: flex;
  position: relative;
  left: -180px;
  top: 5em;
  gap: 8em
  }
  
  /* berita */
  
  
  .berita {
    background-color: var(--color3);
    height: 100vh;
    display: flex;
    justify-content: center;
    padding: 40px;
    flex-direction: column;
  }
  
  .hiasan img {
    position: absolute;
    right: 0;
    opacity: 0.7;
  }
  
  .news-header {
    display: flex;
    justify-content: space-around;
    margin: auto;
  }
  
  .beri {
    font-size: 12px;
    display: flex;
    align-items: center;
  }
  
  .bulat {
    width: 6px;
    height: 6px;
    background-color: #ccc;
    border-radius: 50%;
    margin: 0 5px;
    display: inline-block;
  }
  
  .sub-nama h2 {
    font-size: 24px;
    margin: 5px 0;
  }
  
  .ocehan p {
    font-size: 12px;
    color: #555;
    line-height: 1.5;
    max-width: 510px;
    text-align: justify;
    margin-top: 34px;
  }
  
  
  .all-news a {
    background-color: var(--color2);
    color: white;
    text-decoration: none;
    padding: 10px 15px;
    border-radius: 20px;
    font-size: 14px;
    display: inline-block;
  }
  
  .all-news a:hover {
    background-color: var(--color9);
  }
  
  
  .card-berita {
    margin: 45px;
    display: flex;
    justify-content: center;
  }   
  
  .card-group {
    display: flex;
    gap: 20px;
    justify-content: center;
    flex-wrap: wrap;
  }
  
  /* Individual Card Styles */
  .card {
    background-color: #fff;
    border: 1px solid #dee2e6;
    border-radius: 0.25rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  /* Card Image */
  .card-img-top {
    background-color: var(--color9);
    height: auto;
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
  }
  
  
  /* Card Body */
  .card-body {
    padding: 15px;
  }
  
  .card-body h6 {
    display: flex;
    gap: 13px;
    font-size: 12px;
    color: #777;
  }
  
  /* Card Title */
  .card-title {
    font-size: 1.25rem;
    margin: 0 0 10px;
  }
  
  /* Card Text */
  .card-text {
    font-size: 1rem;
    margin: 0 0 15px;
    color: #6c757d;
  }
  
  /* Card Footer */
  .card-footer {
    background-color: var(--color9);
    border-top: 1px solid #dee2e6;
    padding: 10px 15px;
    border-bottom-left-radius: 0.25rem;
    border-bottom-right-radius: 0.25rem;
  }
  
  /* Muted Text */
  .text-muted {
    color: #6c757d;
  }
  
  
  
  /* testimoni */
  
  .testimoni {
    background-color: var(--color3);
    height: 100vh;
    text-align: center;
  }   
  
  .testi {
    display: flex;
    justify-content: center;
  
  }
  
  .gambar {
   position: absolute;
    top: 250%;
    left: 46%;
  }
  
  .testimoni-wrapper {
    position: relative;
    z-index: 1; /* di atas shape */
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    margin-top: 50px;
    flex-wrap: wrap;
  
  }
  
  /* KARTU TESTIMONI */
  .testi-card1 {
    position: relative;
    top: 140px;
      display: flex;
      flex-direction: row-reverse;
      gap: 23px;
      max-width: 500px;
    width: auto;
    margin: 20px;
    padding: 20px;
    text-align: right;
  }
  
  /* FOTO / IMAGE DALAM KARTU 1*/
  .testi-card1 .image {
    width: 140px;
    height: 100px;
    margin: 0 auto 15px auto;
    border-radius: 50%;
    overflow: hidden;
  }
  
  .testi-card1 .image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  
  /* FOTO / IMAGE DALAM KARTU 2*/
  .testi-card2 {
    position: relative;
    top: 440px;
      display: flex;
      gap: 14px;
      max-width: 500px;
    width: auto;
    margin: 20px;
    padding: 20px;
    text-align: left;
  }
  
  .testi-card2 .image {
    width: 100px;
    height: 100px;
    margin: 0 auto 15px auto;
    border-radius: 50%;
    overflow: hidden;
  }
  
  .testi-card2 .image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  
  
  /* FOTO / IMAGE DALAM KARTU 3 */
  .testi-card3 {
    position: relative;
    top: 200px;
    right: 80px;
      display: flex;
      gap: 23px;
      max-width: 500px;
      width: auto;
      margin: 20px;
      padding: 20px;
      text-align: left;
  }
  
  
  .testi-card3 .image {
    width: 100px;
    height: 100px;
    margin: 0 auto 15px auto;
    border-radius: 50%;
    overflow: hidden;
  }
  
  .testi-card3 .image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  
  
  /* TEKS DALAM KARTU */
  .testi-text h4 {
    margin-bottom: 10px;
    font-size: 18px;
    font-weight: 600;
  }
  
  .testi-text p {
    font-size: 14px;
    line-height: 1.5;
    color: #333;
    font-style: italic; /* opsional jika ingin bergaya kutipan */
  }
  
  
  .footer-body{
    background-color: var(--color2);
    height: 80vh;
    color: var(--color3);
  }
  
  .footer-body2 {
    background-color: var(--color1);
    height: 5vh;
    position: absolute;
    width: 100%;
    display: flex;
  }
  
  .alamat-logo {
    position: relative;
    width: 30%;
    top: 100%;
    padding: 43px;
  
  }
  
  .image-logo img{
    width: 320px;
    height: 120px;
    border-radius: 10px;
  }
  
  .media-sosial {
    margin-top: 13px;
  
  }
  
  .header-medsos {
    font-size: 20px;
  }
  
  .medlog {
    display: flex;
    gap: 7px;
    padding: 5px;
  
  }
  
  .medsos-logo{
    border-radius: 100%;
    background-color: var(--color3);
    padding: 2px;
  
  }
  .medsos-logo i{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 21px;
    color: var(--color9);
  }
  
  .medsos-logo i:hover{
    color: var(--color4);
  }
  
  .medsos-logo:hover {
    transition:all 0.3s;
    transform: scale(1.1);
  }
  
  .hubungi {
    font-size: 20px;
    margin-top: 9px;
  
  }
  
  .kami {
    display: flex;
    flex-direction: column;
    margin-top: 9px;
    gap: 7px;
  }
  
  .kami a,
  .kami i {
    color: var(--color3);
  }
  
  .kami a:hover{
    transform: scale(1.1);
    transition: all 0.3s ease;
  }
  
  
  .info-layan-bis-lain {
    position: relative;
    top: 100%;
    padding: 43px;
    display: flex;
   
  }
  
  .info-layan-bis-lain {
    display: flex;
    flex-direction: column;
    background-color: #49c5b6;
    padding: 20px;
    color: white;
    font-family: Arial, sans-serif;
  }
  
  .top-sections {
    display: flex;
    justify-content: space-between;
  }
  
  .info-section {
    margin-right: 20px;
  }
  
  .head-info h3 {
    font-size: 25px;
    font-weight: bold;
    border-bottom: 2px solid #fbd699;
  
  }
  
  .list-info {
    margin-top: 10px;
  }
  
  .list {
    list-style: none;
    padding: 0;
  }
  
  .list li {
    margin: 5px 0;
  }
  
  .list a {
    text-decoration: none;
    color: white;
    font-size: 14px;
  }
  
  .bottom-section {
    margin-top: 20px;
  }
  
  .menu-footer {
    position: absolute;
    top: 290%;
    right: 0;
    background-color: var(--color1);
    width: 4%;
    height: 280px;
  }
  
  .list-menu {
    display: flex;
     align-items: center;
     justify-content: center;
     gap: 13px;
    margin-top: 14px;
    font-size: 36px;
    flex-direction: column;
  }
  .list-menu a:hover{
    transform: scale(1.1);
    transition: all 0.3s ease-in-out;
  }
  
  
  
  