@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --color1: #fbbc5c;
    --color2: #40c9b2;
    --color3: #f9fbfa;
    --color4: #a6e7dc;
    --color5: #f6d5a1;
    --color6: #ccf9f6;
    --color7: #fbf0cd;
    --color8: #e1fbfb;
    --color9: #4fb99c;
    --color10: #dcd4c4;
  }

*,body {
    margin: 0;
    padding: 0;
}

.container {
    background-color: var(--color3);
    position: sticky;
    top: 0;
  }
  
  .first-nav {
    display: flex;
    justify-content: space-between;
    background-color: var(--color2);
    padding: 4px;
    align-items: center;
    color: var(--color6);
  }
  
  .bahasa-faq {
    display: flex;
    gap: 29px;
  }
  .bahasa-faq a {
    color: var(--color6);
  }
  
  .contact1 a{
    color: var(--color6);
  }
  
  
  /* navbar 2 */
  .second-nav {
    background-color: var(--color3);
    box-shadow: 1px 5px 5px rgba(0, 0, 0, 0.605);   
    

  }

  .navbar {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-right: 23em;

  }
  
  .navigation {
    display: flex;
    color: rgb(28, 27, 27);
    z-index: 1;
  }
  
  
  .navigation .hove {
    position: relative;
    padding: 19px;
  }
  
  .active {
    color: var(--color2);
  }
  
  .hove::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 3px;
    border-radius: 25px 0px 25px 0px;
    background-color: var(--color2);
    transform: scaleX(0);
    transition: transform .3s ease;
  }
  
  .hove:hover {
    color:  var(--color2);
  }
  
  .hove:hover::after {
    transform: scaleX(1);
  }
  
  .active {
    color: var(--color2);
    font-weight: bold;
  }
  
  .active::after {
    transform: scaleX(1);
  }

  .main {
    background-color: var(--color3);
    height: 200vh;
  }

  .head {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 100%;
    margin-bottom: 100px;
  }

  .header {
    margin: 23px;
  }

  .header h2 {
    font-size: 30px;
    margin: 22px;
    }

    .trans {
        color: var(--color1);
    }
    
    .klinik {
        color: var(--color2);
    }

    .header p{
        max-width: 680px;
    }
    .list-harga {
        display: flex;
        justify-content: center;
        width: 100%;
    }

    .card1 {
        background-color: var(--color5);
        width: 17%;
        height: 270px;
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
    .card2 {
        background-color: var(--color2);
        width: 17%;
        height: 270px;
        display: flex;
        justify-content: center;
        flex-direction: column;
    }

    .list {
        display: flex;
        align-items: center;
        flex-direction: column;
        gap: 20px;
    }


    .bulan h3 {
        font-size: 10px;
    }

    .bulan p {
        color: var(--color2);
        font-size: 10px;
    }

    .bulan span {
        color: black;
        font-size: 28px;
    }


    .bulan2 h3 {
        font-size: 10px;
    }

    .bulan2 p {
        color: var(--color2);
        font-size: 10px;
    }

    .bulan2 span {
        font-size: 28px;
    }

    .tahun {
    color: var(--color3);

    }

    .tahun h3 {
        font-size: 10px;
    }

    .tahun p {
        color: var(--color3);
        font-size: 10px;
    }

    .tahun span {
        font-size: 28px;
    }

    .tahun2 h3 {
        font-size: 10px;
    }

    .tahun2 p {
        color: var(--color4);
        font-size: 10px;
    }

    .tahun2 span {
        font-size: 28px;
    }

    .garis1 {
        background-color: var(--color2);
        height: 2px;
        width: 70%;
    }
    .garis2 {
        background-color: var(--color4);
        height: 2px;
        width: 90%;
    }

    .fitur {
        background-color: var(--color8);
        width: 34%;
        height: 240px;
        border: 2px solid var(--color1);
    }

    .judul {
        background-color: var(--color1);
        height: 35px;
        align-content: center;
    }

    
    /* .footer-body{
      background-color: var(--color2);
      height: 90vh;
      color: var(--color3);
    }
    
    .footer-body2 {
      background-color: var(--color1);
      height: 5vh;
      position: absolute;
      width: 100%;
      display: flex;
    }
    
    .alamat-logo {
      position: relative;
      width: 30%;
      top: 100%;
      padding: 43px;
    
    }
    
    .image-logo img{
      width: 320px;
      height: 120px;
      border-radius: 10px;
    }
    
    .media-sosial {
      margin-top: 13px;
    
    }
    
    .header-medsos {
      font-size: 20px;
    }
    
    .medlog {
      display: flex;
      gap: 7px;
      padding: 5px;
    
    }
    
    .medsos-logo{
      border-radius: 100%;
      background-color: var(--color3);
      padding: 2px;
    
    }
    .medsos-logo i{
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 21px;
      color: var(--color9);
    }
    
    .medsos-logo i:hover{
      color: var(--color4);
    }
    
    .medsos-logo:hover {
      transition:all 0.3s;
      transform: scale(1.1);
    }
    
    .hubungi {
      font-size: 20px;
      margin-top: 9px;
    
    }
    
    .kami {
      display: flex;
      flex-direction: column;
      margin-top: 9px;
      gap: 7px;
    }
    
    .kami a,i{
      color: var(--color3);
    }
    
    .kami a:hover{
      transform: scale(1.1);
      transition: all 0.3s ease;
    }
    
    
    .info-layan-bis-lain {
      position: relative;
      top: 100%;
      padding: 43px;
      display: flex;
     
    }
    
    .info-layan-bis-lain {
      display: flex;
      flex-direction: column;
      background-color: #49c5b6;
      padding: 20px;
      color: white;
      font-family: Arial, sans-serif;
    }
    
    .top-sections {
      display: flex;
      justify-content: space-between;
    }
    
    .info-section {
      margin-right: 20px;
    }
  
    .head-info h3 {
      font-size: 25px;
      font-weight: bold;
      border-bottom: 2px solid #fbd699;
    
    }
    
    .list-info {
      margin-top: 10px;
    }
    
    .list {
      list-style: none;
      padding: 0;
    }
    
    .list li {
      margin: 1px 0;
    }
    
    .list a {
      text-decoration: none;
      color: white;
      font-size: 14px;
    }
    
    .bottom-section {
      margin-top: 20px;
    }
    
    .menu-footer {
      position: absolute;
      top: 290%;
      right: 0;
      background-color: var(--color1);
      width: 4%;
      height: 280px;
    }
    
    .list-menu {
      display: flex;
       align-items: center;
       justify-content: center;
       gap: 13px;
      margin-top: 14px;
      font-size: 36px;
      flex-direction: column;
    }
    .list-menu a:hover{
      transform: scale(1.1);
      transition: all 0.3s ease-in-out;
    } */
    

    
      
      
      
      

  